#======== 1.9 is not supported by django_modeltranslation
#======== 1.8.7 logs ‘FileNotFoundError: [Errno 2] No translation file found for domain: 'django'’
django>=1.8,<1.8.7

# ======== Database connectivity ========
psycopg2==2.6.1

# ======== REST stuff ========
djangorestframework==3.3.3

# ======== AUTH stuff ========
# git+https://github.com/mehcode/python-xmlsec.git
