<!-- <app-header></app-header> -->
<body *ngIf="!getSearchFlag()">
    <header>
      <div class="main">

        <div class="container" (ngModel)="products">
          <div class="row" *ngFor="let product of products">
            <h2>{{product.name}}({{count(product.name)}})</h2>
            <div *ngFor="let pr_detail of product_details">
              <div class="col-md-3" *ngIf="product.name == pr_detail.product">
                <div class="product-top">
                  <img src="../assets/images/{{pr_detail.image_name}}" alt="">
                  <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa fa-heart-o"></i></button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart" (click)="addToCart(pr_detail)"><i class="fa fa-shopping-cart"></i></button>
                  </div>
                </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <h3>{{pr_detail.category}}</h3>
                  <h5>Rs {{pr_detail.price}}</h5>
                </div>

              </div>
            </div>
          </div>
        </div>
        </div>
    </header>
<br><br>
</body>
