<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>H2ONLINE</title>
  </head>
  <body>
    <header>
      <div class="main">
        <ul>
          <li><a routerLink="/home"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#">About</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        </ul>

        <div class="container" (ngModel)="products">
          <div class="row" *ngFor="let product of products">
            <h2>{{product.name}}</h2>
            <div *ngFor="let pr_detail of product_details">
              <div class="col-md-3" *ngIf="product.name == pr_detail.product">
                <div class="product-top">
                  <img src="../assets/images/{{pr_detail.image_name}}" alt="">
                  <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa fa-heart-o"></i></button>
                    <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
                  </div>
                </div>
                <div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <h3>{{pr_detail.category}}</h3>
                  <h5>{{pr_detail.price}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

            <!-- <div class="col-md-3">
            <div class="product-top">
              <img src="../assets/images/bisleriBottle.jpeg" alt="">
              <div class="overlay">
                <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa fa-heart-o"></i></button>
                <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <div class="product-bottom text-center">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <h3>Bisleri 1 Litre</h3>
              <h5>Rs 25</h5>
            </div>
          </div>

          <div class="col-md-3">
            <div class="product-top">
              <img src="../assets/images/bisleri24set.jpeg" alt="">
              <div class="overlay">
                <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa fa-heart-o"></i></button>
                <button type="button" class="btn btn-secondary" title="Add to Cart"><i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
            <div class="product-bottom text-center">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <h3>Bisleri 500ml 24 Set</h3>
              <h5>Rs 200</h5>
            </div>
          </div> -->
        </div>
    </header>
  </body>
</html>
