<!-- <app-header></app-header> -->
<body *ngIf="!getSearchFlag()">
    <header>


<main class="main" role="main">
	<div class="wrapper cf">
		<div class="breadcrumb">
			<a href="#">Products</a>
		</div>

		<aside class="sidebar">
			<h1 class="sidebar-heading">
				Filter by
			</h1>

			<ul class="filter ul-reset">
				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
							Brand
						</h1><br>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-1" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-1" class="filter-attribute-label ib-m">
										Aquafina
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-2" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-2" class="filter-attribute-label ib-m">
										Bisleri
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="colour-attribute-3" class="filter-attribute-checkbox ib-m">
									<label for="colour-attribute-3" class="filter-attribute-label ib-m">
										Kinley
									</label>
                </li>
							</div>
						</ul>
					</section>
				</li>

				<li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
							Type
						</h1><br>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-1" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-1" class="filter-attribute-label ib-m">
										Can
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-2" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-2" class="filter-attribute-label ib-m">
										Bottle
									</label>
								</li>
								<li class="filter-attribute-item">
									<input type="checkbox" id="size-attribute-3" class="filter-attribute-checkbox ib-m">
									<label for="size-attribute-3" class="filter-attribute-label ib-m">
										Pack
									</label>
								</li>

							</div>
						</ul>
					</section>

				</li>

        <li class="filter-item">
					<section class="filter-item-inner">
						<h1 class="filter-item-inner-heading minus">
							Range Input
						</h1><br>
						<ul class="filter-attribute-list ul-reset">
							<div class="filter-attribute-list-inner">
								<li class="filter-attribute-item">
                  <label for="size-attribute-1" class="filter-attribute-label ib-m" >
										Min
									</label>
									<input type="number"  class="filter-attribute-checkbox ib-m" placeholder="₹0">

								</li>
								<li class="filter-attribute-item">
									<label for="size-attribute-1" class="filter-attribute-label ib-m" >
										Max
									</label>
									<input type="number"  class="filter-attribute-checkbox ib-m" placeholder="₹0">
								</li>

							</div>
						</ul>
					</section>

				</li>


			</ul>
		</aside>

<section class="content" (ngModel)="products">

			<ul class="product-list ul-reset">
				<li class="product-item ib" *ngFor="let pr_detail of product_details">
					<section class="product-item-inner ">
            <div class = "product-grid">
						<img src="../assets/images/{{pr_detail.image_name}}" alt="">
                  <div class="social">
                    <ul >
                      <li><button type="button" routerLink ="/quick" class="btn btn-secondary" data-tip="Quick View"><i class="fa fa-search"></i></button></li>
                      <li><button type="button" class="btn btn-secondary" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></button></li>
                      <li><button type="button" class="btn btn-secondary" data-tip="Add to Cart" (click)="addToCart(pr_detail)"><i class="fa fa-shopping-cart"></i></button></li>
                    </ul>
<!--                    <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="fa fa-eye"></i></button>-->
<!--                    <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa fa-heart-o"></i></button>-->
<!--                    <button type="button" class="btn btn-secondary" title="Add to Cart" (click)="addToCart(pr_detail)"><i class="fa fa-shopping-cart"></i></button>-->
                  </div>
              </div>
						<div class="product-bottom text-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <div class="product-content" >
                    <h4 ><a href="#">{{pr_detail.category}}</a></h4>
                    <h5>Rs {{pr_detail.price}}</h5>

                </div>
<!--                  <h3>{{pr_detail.category}}</h3>-->
<!--                  <h5>Rs {{pr_detail.price}}</h5>-->
                </div>
						<input type="submit" value="Add to Cart" (click)="addToCart(pr_detail)" class="product-add-to-cart">
					</section>
				</li>
			</ul>
		</section>


	</div>
</main>



<!--</div>-->
<hr>

<!--        </div>-->
    </header>
<br><br>
</body>


