{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}<h3 style="
    margin-top: 20px;
    background-color: #d7d5cd;
    height: 35px;
    padding-top: 10px;
    text-align: center;">User Registration</h3>{% endblock %}
{% block content %}
    <form method="post" action="."><center><div id="login-box" style="
        height: 275px;
        width: 362px;
        border-radius: 6px;
        color: #999;
        box-shadow: 0px 0px 5px #888;
        border: 1px solid; margin-top: 50px;">{% csrf_token %}
        <table border="0" style="margin: 15px;border-spacing: 20px;">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Register" />
        <span><button type="button" style="margin-left: 22px;"><a href="/">Login</a></button></span>
        </div></center>
    </form>
{% endblock %}