<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>H2ONLINE</title>
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <!-- <img src="/src/assets/images/logo.jpg"> -->
        </div>
        <ul>
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#">About</a></li>
          <li><a routerLink="/products">Products</a></li>
          <!-- <li class="dropdown" dropdown>
              <a dropdownToggle role="button">
                Products <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu">
                  <li><a href="#">Non Branded</a></li>
                  <li><a href="#">Bisleri</a></li>
                  <li><a href="#">Kinley</a></li>
                  <li><a href="#">Smart Water</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Himalayan</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Aquafina</a></li>
              </ul>
          </li> -->
          <li><a href="#">Contact</a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>Water Delivery Service</h1>
      </div>
      <div class="button">
        <a href="#" class="btn">Watch Video</a>
        <a href="#" class="btn">Explore</a>
        <a href="#" class="btn">Order Now</a>
      </div>
    </header>

  </body>
</html>
