<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="application/json" />
    <title>Task List</title>
  </head>
  <body style="background-color:powderblue;margin-left:180px;">
  <style>
      table {
      border-collapse:collapse;
      width:80%;
      }
      td,th {
      text-align:left;
      padding:8px;
      }
      .displayNone{
        display: none;
      }
  </style>
  <script>
     function addTask(sel){
        var dict={
                "title":document.getElementsByTagName('input')[3].value,
                "due_date":document.getElementsByTagName('input')[4].value,
                "priority":document.getElementById('p').value,
                "state":document.getElementById('s').value,
                };
        var csrf = '{{ csrf_token }}';
        var jsreq = new XMLHttpRequest();
        jsreq.open("POST","add-task/",true);
        jsreq.setRequestHeader("Content-type", "application/json");
        jsreq.setRequestHeader("X-CSRFToken" , csrf);
        var data = JSON.stringify(dict);
        jsreq.send(data);
        location.replace(window.location);
      }

      function searchTask(){
        var date = {"due_date": document.getElementsByTagName('input')[0].value}
        date = JSON.stringify(date);
        var jsreq = new XMLHttpRequest();
        jsreq.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
         location.replace(url);
        }
        };
        var url = "?date="+document.getElementsByTagName('input')[0]
        .value+'&month='+document.getElementsByTagName('input')[1]
        .value+'&week='+document.getElementsByTagName('input')[2].value;
        jsreq.open("GET",url,true);
        jsreq.send();
      }

      function resetTask(){
            location.replace("http://assignment-dev6.ap-south-1.elasticbeanstalk.com/report");
      }

     function  updateTask(sel, id){
        var value = sel.value;
        var param = sel.id
        var data = param + "=" + value
        var csrf = '{{ csrf_token }}';
        var jsreq = new XMLHttpRequest();
        jsreq.open("PATCH","update-task/"+id,true);
        jsreq.setRequestHeader("Content-type", "application/json");
        jsreq.setRequestHeader("X-CSRFToken" , csrf);
        jsreq.send(data);
        jsreq.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
             location.replace(window.location);
            }
        }

     }
     function showDropdown(id, type){

        if(type == "priority"){
        console.log("pri");
            var element = document.getElementById("priority" + id);

            element.style.display = "none";

            var selectElement = document.getElementById("priorityselect"+id);
            selectElement.style.display = "block";

        }else{
        console.log("status");
            var element = document.getElementById(id);

            element.style.display = "none";

            var selectElement = document.getElementById("select"+id);
            selectElement.style.display = "block";


        }


     }
  </script>
    <div font-size="22px" font-weight="bold" style="font-size: 20px;font-weight: bold;"> Welcome {{user}}<span><a href="/logout/" style="float: right; margin-right: 234px;">Logout</a></span></div>
    <h1>Task List</h1>
    <div id="task_count" style="float:left;width:50%;min-height: 400px;">
        <h2>Total Tasks Count : {{count}}</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Status</th>
            </tr>
        {% for list_dict in todo_listing %}
            {% if list_dict.color %}
                <tr style="background-color:red;">
                    <td>{{ list_dict.title }}</td>
                    <td>{{ list_dict.due_date}}</td>
                    <td>
                        <div div id="priority{{list_dict.id}}" onclick="showDropdown({{list_dict.id}}, 'priority')">
                            {% ifequal 1 list_dict.priority %}Low{% endifequal %}
                            {% ifequal 2 list_dict.priority %}Medium{% endifequal %}
                            {% ifequal 3 list_dict.priority %}High{% endifequal %}
                         </div>
                        <div id="priorityselect{{list_dict.id}}" class="displayNone">
                            <select name="priority" id="priority" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.priority}}">
                                <option value="1"
                                    {% if list_dict.priority == 1 %} selected="selected"{% endif %}>Low</option>
                                <option value="2"
                                {% if list_dict.priority == 2 %} selected="selected"{% endif %}>Medium</option>
                                <option value="3" {% if list_dict.priority == 3 %} selected="selected"{% endif %}>High</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div id="{{list_dict.id}}" onclick="showDropdown({{list_dict.id}})">
                            {% ifequal 1 list_dict.state %}Todo{% endifequal %}
                            {% ifequal 2 list_dict.state %}Doing{% endifequal %}
                            {% ifequal 3 list_dict.state %}Done{% endifequal %}
                        </div>
                        <div id="select{{list_dict.id}}" class="displayNone">
                            <select name="state" id="state" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.state}}">
                                <option value="1" {% if list_dict.state == 1 %} selected="selected"{% endif %}>Todo</option>
                                <option value="2" {% if list_dict.state == 2 %} selected="selected"{% endif %}>Doing</option>
                                <option value="3" {% if list_dict.state == 3 %} selected="selected"{% endif %}>Done</option>
                            </select>
                        </div>
                    </td>
                </tr>
            {% elif list_dict.state == 1 %}
                <tr style="background-color:#808080;">
                    <td>{{ list_dict.title }}</td>
                    <td>{{ list_dict.due_date}}</td>
                    <td>
                        <div div id="priority{{list_dict.id}}" onclick="showDropdown({{list_dict.id}}, 'priority')">
                            {% ifequal 1 list_dict.priority %}Low{% endifequal %}
                            {% ifequal 2 list_dict.priority %}Medium{% endifequal %}
                            {% ifequal 3 list_dict.priority %}High{% endifequal %}
                         </div>
                        <div id="priorityselect{{list_dict.id}}" class="displayNone">
                            <select name="priority" id="priority" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.priority}}">
                                <option value="1" {% if list_dict.priority == 1 %} selected="selected"{% endif %}>Low</option>
                                <option value="2" {% if list_dict.priority == 2 %} selected="selected"{% endif %}>Medium</option>
                                <option value="3" {% if list_dict.priority == 3 %} selected="selected"{% endif %}>High</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div id="{{list_dict.id}}" onclick="showDropdown({{list_dict.id}})">
                            {% ifequal 1 list_dict.state %}Todo{% endifequal %}
                            {% ifequal 2 list_dict.state %}Doing{% endifequal %}
                            {% ifequal 3 list_dict.state %}Done{% endifequal %}
                        </div>
                        <div id="select{{list_dict.id}}" class="displayNone">
                            <select name="state" id="state" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.state}}">
                                <option value="1" {% if list_dict.state == 1 %} selected="selected"{% endif %}>Todo</option>
                                <option value="2" {% if list_dict.state == 2 %} selected="selected"{% endif %}>Doing</option>
                                <option value="3" {% if list_dict.state == 3 %} selected="selected"{% endif %}>Done</option>
                            </select>
                        </div>
                    </td>
                </tr>
            {% elif list_dict.state == 3 %}
                <tr style="background-color:#00FF00;">
                    <td>{{ list_dict.title }}</td>
                    <td>{{ list_dict.due_date}}</td>
                    <td>
                        <div div id="priority{{list_dict.id}}" onclick="showDropdown({{list_dict.id}}, 'priority')">
                            {% ifequal 1 list_dict.priority %}Low{% endifequal %}
                            {% ifequal 2 list_dict.priority %}Medium{% endifequal %}
                            {% ifequal 3 list_dict.priority %}High{% endifequal %}
                         </div>
                        <div id="priorityselect{{list_dict.id}}" class="displayNone">
                            <select name="priority" id="priority" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.priority}}">
                                <option value="1" {% if list_dict.priority == 1 %} selected="selected"{% endif %}>Low</option>
                                <option value="2" {% if list_dict.priority == 2 %} selected="selected"{% endif %}>Medium</option>
                                <option value="3" {% if list_dict.priority == 3 %} selected="selected"{% endif %}>High</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div id="{{list_dict.id}}" onclick="showDropdown({{list_dict.id}})">
                            {% ifequal 1 list_dict.state %}Todo{% endifequal %}
                            {% ifequal 2 list_dict.state %}Doing{% endifequal %}
                            {% ifequal 3 list_dict.state %}Done{% endifequal %}
                        </div>
                        <div id="select{{list_dict.id}}" class="displayNone">
                            <select name="state" id="state" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.state}}">
                                <option value="1" {% if list_dict.state == 1 %} selected="selected"{% endif %}>Todo</option>
                                <option value="2" {% if list_dict.state == 2 %} selected="selected"{% endif %}>Doing</option>
                                <option value="3" {% if list_dict.state == 3 %} selected="selected"{% endif %}>Done</option>
                            </select>
                        </div>
                    </td>
                </tr>

            {% else %}
            <tr style="background-color:#95B9C7;">
                <td>{{ list_dict.title }}</td>
                <td>{{ list_dict.due_date}}</td>
                <td>
                    <div id="priority{{list_dict.id}}" onclick="showDropdown({{list_dict.id}}, 'priority')">
                        {% ifequal 1 list_dict.priority%}Low{% endifequal %}
                        {% ifequal 2 list_dict.priority %}Medium{% endifequal %}
                        {% ifequal 3 list_dict.priority %}High{% endifequal %}
                    </div>
                    <div id="priorityselect{{list_dict.id}}" class="displayNone">
                        <select name="" id="priority" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.priority}}">
                            <option value="1" {% if list_dict.priority == 1 %} selected="selected"{% endif %}>Low</option>
                            <option value="2" {% if list_dict.priority == 2 %} selected="selected"{% endif %}>Medium</option>
                            <option value="3" {% if list_dict.priority == 3 %} selected="selected"{% endif %}>High</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div id="{{list_dict.id}}" onclick="showDropdown({{list_dict.id}})">
                        {% ifequal 1 list_dict.state %}Todo{% endifequal %}
                        {% ifequal 2 list_dict.state %}Doing{% endifequal %}
                        {% ifequal 3 list_dict.state %}Done{% endifequal %}
                    </div>
                    <div id="select{{list_dict.id}}" class="displayNone">
                        <select name="" id="state" onchange="updateTask(this, {{list_dict.id}})" value="{{list_dict.state}}">
                            <option value="1" {% if list_dict.state == 1 %} selected="selected"{% endif %}>Todo</option>
                            <option value="2" {% if list_dict.state == 2 %} selected="selected"{% endif %}>Doing</option>
                            <option value="3" {% if list_dict.state == 3 %} selected="selected"{% endif %}>Done</option>
                        </select>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <div id="search_task" style="float:right;width:50%;">
     <form name="searchtask" id="search-task" style="border:1px solid black;width:60%;padding-bottom:20px">
         <span><center style="background-color:#696969;font-size:18px;font-weight:bold;">Search Task</center></span>
         <!--</br>-->
         <div style="margin-left:20px">
             <pre>Due Date     <input type="date"
                                      data-date-inline-picker="true" /></pre>
         </div>
         <div style="margin-left:20px">
             <pre>Month        <input type="month"
                                      data-date-inline-picker="true" /></pre>
         </div>
         <div style="margin-left:20px">
             <pre>Week        <input type="week"
                                      data-date-inline-picker="true" /></pre>
         </div>
         <center><button type="submit" form="searchtask" onclick="searchTask()">
             Filter</button>
         <button type="submit" form="searchtask" onclick="resetTask()">
             Reset</button></center>

    </form>
    </div>
    <div id="add_task" style="float:right;width:50%;padding-top:60px">
     <form id="add-task" name="addtask" style="border:1px solid black;width:60%;padding-bottom:20px">
         <span><center style="background-color:#696969;font-size:18px;font-weight:bold;">Add Task</center></span>
         <div style="margin-left:20px">
             <pre id="t">Title       <input type="text" /></pre>
         </div>
         <div style="margin-left:20px">
             <pre id="due_date">Due Date    <input type="date"
                                      data-date-inline-picker="true" /></pre>
         </div>
         <div style="margin-left:20px">
             <pre>Priority    <select id="p">
                 <option value="1">Low</option>
                 <option value="2">Medium</option>
                 <option value="3">High</option>
             </select></pre>
         </div>
         <div style="margin-left:20px">
             <pre>State       <select id="s">
                    <option value="1">Todo</option>
                    <option value="2">Doing</option>
                    <option value="3">Done</option>
                 </select>
             </pre>
         </div>
         <center><button type="submit" form="addtask"
                         onclick="addTask(this)">Submit
         </button></center>
    </form>
    </div>
  </body>
</html>